*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.picGram {
  background-color: #3c4048;
  color: #00abb3;
}
.bodyColor {
  background-color: #eaeaea;
  min-height: 90vh;
}
.backToHomeBtn{
  background-color: #C98474;
  color: #3C2317;
}
.profileImage {
  width: 150px;
  height: 150px;
}
.borderColor {
  border: 1px solid #b2b2b2;
}
.editBtnColor {
  background-color: #4c6793;
  color: #eaeaea;
}
.addBtnColor {
  background-color: #4fa095;
  color: #eaeaea;
}
.galleryBgr {
  background-color: #b2b2b2;
}
.circle {
  border-radius: 50%;
}
.pink {
  background-color: pink;
}
.orange {
  background-color: orange;
}
.olive {
  background-color: olive;
}
.size {
  width: 32%;
}
.chat {
  width: 80%;
  min-height: 250px;
  background-color: #ccc;
  text-align: center;
}
.addPostForm,
.userForm {
  /* background-color: aquamarine; */
  margin: 100px auto;
  border-radius: 10px;
}
.gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #3c4048;
  transition: 0.5s;
}
.gallery:hover {
  transform: scale(1.1);
}
.grey {
  background-color: #eee;
}
.singleImage {
  height: 60vh;
}
.singleImagedesc {
  min-height: 50px;
  line-height: 50px;
}
.liked {
  color: red;
}
.singleImgBorder {
  border: 3px double #aaa;
}
.pointer {
  cursor: pointer;
}
